div{
    width: 400px;
    height: 400px;
    background-color: brown;
}


div:hover{
    background-color:yellow;
    width: 200px;
    height: 200px;
    border-radius: 100%;

}

section{
    background: url(../cafe2.jpeg)no-repeat center center/50% ;
    height: 400px;
}

section/:hover{
    background: url(../cafe-simplon.png) no-repeat center center/50% ;
    height: 400px;
}
